# MongoDB Connection String
MONGODB_URI=mongodb://localhost:27017/medistra-hms

# NextAuth Configuration
NEXTAUTH_SECRET=your_nextauth_secret_key_here
NEXTAUTH_URL=http://localhost:3000

# Default Admin Credentials for Seeding
DEFAULT_ADMIN_EMAIL=defaultmail
DEFAULT_ADMIN_PASSWORD=defaultpassword
